@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: "Jersey10";
  src: url("/fonts/Jersey10.ttf");
}

@font-face {
  font-family: "Lobster";
  src: url("/fonts/LobsterTwo-Regular.ttf");
}

@font-face {
  font-family: "MonteCarlo";
  src: url("/fonts/MonteCarlo.ttf");
}

@font-face {
  font-family: "PlaywriteGBJGuides";
  src: url("/fonts/PlaywriteGBJGuides-Regular.ttf");
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Jersey10";
  transition: 0.3s;
}
